/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    font-family: Roboto,arial,sans-serif;
    font-size: 14px;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

img [src="mag_glass.png"] {
    height: 10%;
    width: 10%;
}

input[type=text] {
    border: none;
    outline: none;
    height: 100%;
    width: 25vw;
    background-color: transparent;
    padding-left: 10px;
}

input[type="submit"]{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: 
    none;
}

input[type="submit"]:hover{
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 560px);    
    margin: 0px;
    flex-direction: column;
}
.page_links{
    width: 100vw;
    height: 13vh;
    display: flex;
    justify-content: flex-end;
    align-content: center;
}

.link {
    color: rgba(0,0,0,0.87);
    padding-right: 1%;
    margin: .8%;
    font: 13px/27px Roboto,RobotoDraft,Arial,sans-serif;
}

.search_bar{
    display: grid;
    place-items: center;
    flex: 1;
    padding-top: 2em;
}

.hov :hover{
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
    border-color: rgba(223,225,229,0);
  }

.input_box {
    border: 1px solid #dfe1e5;
    height: 44px;
    width: 32vw;
    border-radius: 24px;
    display: flex;
    justify-content: center;
}

.input_box :hover{
    background-color: transparent;
    box-shadow: none;
    border: none;
}


#search{
    border: none;
    width: 600px;
}

#glass {
    height: 90%;
    padding-top: 2px;
}